Exemplo de Arquivo Texto/copia.txt
Exemplo de Arquivo Texto/linha.txt
Exemplo de Arquivo Texto/quadrado.txt
Exemplo de Arquivo Texto/relatorio.txt
Exemplo de Arquivo Texto/teste.txt
Exercicio Arquivo Binario/Arquivos.pdf
Exercicio Arquivo Binario/exercici_adrian.c
*.exe
